@property --acnh-green {
  syntax: "<color>";
  inherits: false;
  initial-value: #9dffb0;
}
@property --acnh-blue {
  syntax: "<color>";
  inherits: false;
  initial-value: #81f1f7;
}
@property --acnh-white {
  syntax: "<color>";
  inherits: false;
  initial-value: #fffffa;
}
@property --acnh-brown {
  syntax: "<color>";
  inherits: false;
  initial-value: #c48d3f;
}
@property --acnh-yellow {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff563;
}

body {
  background-color: var(--acnh-yellow);
}

header {
  background-color: var(--acnh-brown);
  padding: 0.5rem;
}

main {
  margin: 1rem;
}

section {
  background-color: var(--acnh-green);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
}

.section-search {
  display: inline-block;
  width: 35%;
}

.section-results {
  background-color: var(--acnh-blue);
  display: inline-block;
  vertical-align: top;
  width: calc(65% - 1rem);
  margin-left: 0.5rem;
}

#by-name {
  width: 10em;
}

#div-search-results, #div-selected {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.div-villager {
  flex: 1 1 auto;
  max-width: 300px;
  min-width: 200px;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  background-color: hwb(from var(--acnh-yellow) h w b / 0.75);
  border: solid 2px var(--acnh-yellow);
  border-radius: 50px;
  padding: 0.5rem;
}

.div-villager:last-of-type {
  margin-right: auto;
}

.img-villager {
  display: block;
  max-height: 180px;
  margin: auto;
  padding: 0.5rem;
}

.score {
  font-size: small;
  color: black;
  border-radius: 5px;
  padding: 3px;
}

.villager-header .details{
  font-size: smaller;
}

.bad-compatibility {
  border: solid 2px rgb(178, 34, 34);
  background-color: rgba(178, 34, 34, 0.4);
}

.good-compatibility {
  border: solid 2px rgb(0, 128, 0);
  background-color: rgba(0, 128, 0, 0.4);
}

.normal-compatibility {
  border: solid 1px grey;
}

.villager-details {
  width: fit-content;
  margin: auto;
}

dt {
  display: inline;
  font-weight: bold;
  font-size: smaller;
}
dt:after {
  margin-left: 0.25em;
  content: "·";
}

dd {
  display: inline;
  font-size: smaller;
}

dd:after {
  content: "\a";
  white-space: pre;
}
